<!DOCTYPE html>
<html>
  <head>
    <title>Simple Design Portfolio</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <script src="/javascripts/config.js"></script>
    <script src="/javascripts/themeChange.js"></script>
    <script src="/javascripts/imageslide.js"></script>
  </head>
  <body>
    <% include ./content/menuPagetop.ejs %>
    <div class="activities_content">
      <% ActivitiesPage.Activities.forEach(function(e, i) { %>
      <div class="activities_component">
        <p><%= e.ActivityName %></p>
        <% e.ActivityDescription.forEach(function(ee, ii) { %>
        <p>◦<%= ee %></p>
        <% }) %>
        <div class="SlideFrame">
          <button class="BtnSlidePrev" onclick="SlideCountMinus('<%= i %>'); OnClickAni('<%= i %>');"><</button>
          <img src="" alt="" class="SlidePrev" id="p<%= i %>" />
          <img src="" alt="" class="SlideCenter" id="c<%= i %>" />
          <img src="" alt="" class="SlideNext" id="n<%= i %>" />
          <button class="BtnSlideNext" onclick="SlideCountPlus('<%= i %>'); OnClickAni('<%= i %>');">></button>
        </div>
      </div>
      <% }) %>
    </div>
    <% include ./content/footer.ejs %>
  </body>
  <script>
    var SlideCounts = [];
    for (var i = 0; i < ActivitiesPage.Activities.length; i++) {
      SlideCounts.push(0);
    }
    var activityData = ActivitiesPage.Activities;

    function updateImages(index) {
      var images = activityData[index].ActivityImage;
      var prevImg = document.getElementById("p" + index);
      var centerImg = document.getElementById("c" + index);
      var nextImg = document.getElementById("n" + index);

      if (images && images.length >= 3) {
        prevImg.src = images[(SlideCounts[index] - 1 + images.length) % images.length];
        centerImg.src = images[SlideCounts[index] % images.length];
        nextImg.src = images[(SlideCounts[index] + 1) % images.length];
      }
    }

    function onloadInit() {
      for (var i = 0; i < activityData.length; i++) {
        updateImages(i);
      }
    }

    window.onload = function () {
      onloadInit();
    };

    function SlideCountPlus(index) {
      SlideCounts[index] += 1;
      if (SlideCounts[index] >= activityData[index].ActivityImage.length) {
        SlideCounts[index] = 0; // 루프해서 처음으로 돌아갑니다.
      }
      updateImages(index);
    }

    function SlideCountMinus(index) {
      SlideCounts[index] -= 1;
      if (SlideCounts[index] < 0) {
        SlideCounts[index] = activityData[index].ActivityImage.length - 1; // 루프해서 마지막으로 돌아갑니다.
      }
      updateImages(index);
    }

    var centerImgs = document.querySelectorAll(".SlideCenter");
    for (var i = 0; i < centerImgs.length; i++) {
      centerImgs[i].addEventListener("mouseover", function () {
        this.animate(
          {
            transform: ["scale(1.3)"],
          },
          {
            duration: 500,
            fill: "forwards",
            easing: "ease",
          }
        );
      });
      centerImgs[i].addEventListener("mouseout", function () {
        this.animate(
          {
            transform: ["scale(1)"],
          },
          {
            duration: 500,
            fill: "forwards",
            easing: "ease",
          }
        );
      });
    }

    function OnClickAni(index) {
      var centerImg = document.getElementById("c" + index);
      centerImg.classList.add("SkillsFadeIn");
      BtnSlideNext.disabled = true;
      BtnSlidePrev.disabled = true;
      setTimeout(function () {
        centerImg.classList.remove("SkillsFadeIn");
        BtnSlideNext.disabled = false;
        BtnSlidePrev.disabled = false;
      }, 1500);
    }
  </script>
</html>
