<!DOCTYPE html>
<html>
  <head>
    <title>Simple Design Portfolio</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <script src="/javascripts/config.js"></script>
    <script src="/javascripts/themeChange.js"></script>
    <script src="/javascripts/imageslide.js"></script>
  </head>
  <body>
    <% include ./content/menuPagetop.ejs %>
    <div class="skiils_content">
      <div class="language">
        <div class="skiils_title">Languages</div>
        <div class="skiils_component">
          <% for (key in SkillsPage.Language) { %>
          <p><%= key %> - <%= SkillsPage.Language[key] %></p>
          <% } %>
        </div>
      </div>
      <div class="computerSkills">
        <div class="skiils_title">Computer Skills</div>
        <div class="skiils_component">
          <% for (key in SkillsPage.ComputerSkills) { %>
          <p><%= key %> - <%= SkillsPage.ComputerSkills[key] %></p>
          <% } %>
        </div>
      </div>
      <div class="license">
        <div class="skiils_title">License</div>
        <div class="skiils_component">
          <% SkillsPage.License.forEach(function(e, i) { %>
          <p><%= e %></p>
          <% }) %>
        </div>
      </div>
      <div class="award">
        <div class="skiils_title">Certificates/Awards</div>
        <div class="skiils_component">
          <% SkillsPage.Awards.forEach(function(e, i) { %>
          <div class="top">
            <div class="left">
              <p><%= e.AwardTitle %></p>
              <p><%= e.AwardDetail %></p>
            </div>
            <div class="right"><%= e.AwardAgency %>, <%= e.AwardYear %></div>
          </div>
          <div class="mid">
            <p>Role In Team</p>
            <% e.Role.forEach(function(el, i) { %>
            <p>&nbsp;&nbsp;&nbsp;▫️<%= el %></p>
            <% }) %>
          </div>
          <div class="bottom">
            <div class="SlideFrame">
              <button class="BtnSlidePrev" onclick="SlideCountPlus()"></button>
              <img src="" alt="" class="SlidePrev" />
              <img src="" alt="" class="SlideCenter" />
              <img src="" alt="" class="SlideNext" />
              <button class="BtnSlideNext" onclick="SlideCountMinus()"></button>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
    <% include ./content/footer.ejs %>
  </body>
  <script>
    function SlideCountPlus() {
      SlideCount++;
      ImageUpdate();
    }

    function SlideCountMinus() {
      SlideCount--;
      ImageUpdate();
    }

    let SlideCount = 0;
    const awardImageSrc = SkillsPage.Awards[0].AwardImage;
    const prevImg = document.querySelector(".SlidePrev");
    const centerImg = document.querySelector(".SlideCenter");
    const nextImg = document.querySelector(".SlideNext");
    function ImageUpdate() {
      if (SlideCount > 0) {
        prevImg.src = awardImageSrc[SlideCount - 1];
      } else {
        prevImg.src = awardImageSrc[awardImageSrc.length - 1];
      }
      centerImg.src = awardImageSrc[SlideCount];
      nextImg.src = awardImageSrc[SlideCount + 1];
    }
  </script>
</html>
