<!DOCTYPE html>
<html>
  <head>
    <title>Simple Design Portfolio</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <script src="/javascripts/config.js"></script>
    <script src="/javascripts/themeChange.js"></script>
    <script src="/javascripts/imageslide.js"></script>
  </head>
  <body>
    <% include ./content/menuPagetop.ejs %>
    <div class="skiils_content">
      <div class="language">
        <div class="skiils_title">Languages</div>
        <div class="skiils_component">
          <% for (key in SkillsPage.Language) { %>
          <p><%= key %> - <%= SkillsPage.Language[key] %></p>
          <% } %>
        </div>
      </div>
      <div class="computerSkills">
        <div class="skiils_title">Computer Skills</div>
        <div class="skiils_component">
          <% for (key in SkillsPage.ComputerSkills) { %>
          <p><%= key %> - <%= SkillsPage.ComputerSkills[key] %></p>
          <% } %>
        </div>
      </div>
      <div class="license">
        <div class="skiils_title">License</div>
        <div class="skiils_component">
          <% SkillsPage.License.forEach(function(e, i) { %>
          <p><%= e %></p>
          <% }) %>
        </div>
      </div>
      <div class="award">
        <div class="skiils_title">Certificates/Awards</div>
        <div class="skiils_component">
          <% SkillsPage.Awards.forEach(function(e, i) { %>
          <div class="top">
            <div class="left">
              <p><%= e.AwardTitle %></p>
              <p><%= e.AwardDetail %></p>
            </div>
            <div class="right"><%= e.AwardAgency %>, <%= e.AwardYear %></div>
          </div>
          <div class="mid">
            <p>Role In Team</p>
            <% e.Role.forEach(function(el, i) { %>
            <p>&nbsp;&nbsp;&nbsp;▫️<%= el %></p>
            <% }) %>
          </div>
          <div class="bottom">
            <div class="SlideFrame">
              <button class="BtnSlidePrev" onclick="SlideCountMinus('<%= i %>'); OnClickAni('<%= i %>');"><</button>
              <img src="" alt="" class="SlidePrev" id="p<%= i %>" />
              <img src="" alt="" class="SlideCenter" id="c<%= i %>" />
              <img src="" alt="" class="SlideNext" id="n<%= i %>" />
              <button class="BtnSlideNext" onclick="SlideCountPlus('<%= i %>'); OnClickAni('<%= i %>');">></button>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
    <% include ./content/footer.ejs %>
  </body>
  <script>
    var SlideCounts = [];
    for (var i = 0; i < SkillsPage.Awards.length; i++) {
      SlideCounts.push(0);
    }
    var awardData = SkillsPage.Awards;

    function updateImages(index) {
      var images = awardData[index].AwardImage;
      var prevImg = document.getElementById("p" + index);
      var centerImg = document.getElementById("c" + index);
      var nextImg = document.getElementById("n" + index);

      if (images && images.length >= 3) {
        prevImg.src = images[(SlideCounts[index] - 1 + images.length) % images.length];
        centerImg.src = images[SlideCounts[index] % images.length];
        nextImg.src = images[(SlideCounts[index] + 1) % images.length];
      }
    }

    function onloadInit() {
      for (var i = 0; i < awardData.length; i++) {
        updateImages(i);
      }
    }

    window.onload = function () {
      onloadInit();
    };

    function SlideCountPlus(index) {
      SlideCounts[index] += 1;
      if (SlideCounts[index] >= awardData[index].AwardImage.length) {
        SlideCounts[index] = 0; // 루프해서 처음으로 돌아갑니다.
      }
      updateImages(index);
    }

    function SlideCountMinus(index) {
      SlideCounts[index] -= 1;
      if (SlideCounts[index] < 0) {
        SlideCounts[index] = awardData[index].AwardImage.length - 1; // 루프해서 마지막으로 돌아갑니다.
      }
      updateImages(index);
    }

    var centerImgs = document.querySelectorAll(".SlideCenter");
    for (var i = 0; i < centerImgs.length; i++) {
      centerImgs[i].addEventListener("mouseover", function () {
        this.animate(
          {
            transform: ["scale(1.3)"],
          },
          {
            duration: 500,
            fill: "forwards",
            easing: "ease",
          }
        );
      });
      centerImgs[i].addEventListener("mouseout", function () {
        this.animate(
          {
            transform: ["scale(1)"],
          },
          {
            duration: 500,
            fill: "forwards",
            easing: "ease",
          }
        );
      });
    }

    function OnClickAni(index) {
      var centerImg = document.getElementById("c" + index);
      centerImg.classList.add("SkillsFadeIn");
      BtnSlideNext.disabled = true;
      BtnSlidePrev.disabled = true;
      setTimeout(function () {
        centerImg.classList.remove("SkillsFadeIn");
        BtnSlideNext.disabled = false;
        BtnSlidePrev.disabled = false;
      }, 1500);
    }
  </script>
</html>
